/*------------------------------------------------*/
/*----[logo]----*/
/*------------------------------------------------*/

#logo {
  margin: 0px !important;
  width: 14% !important;
  padding-top: 12px;
}

#logo-divisions {
    margin: 0px !important;
    width: 14% !important;
  }

/*------------------------------------------------*/
/*------------------[Top-header]------------------*/
/*------------------------------------------------*/

.top-header{
  background-color: #333;
  padding: 12px 18px;
  color: #fff;
  font-size: 12px;

  .container{
  max-width: 960px;
  margin: 0 auto;
  text-align: center;

    strong{
      color: #ccc;
    }

    a{
    color: #0EB7F0;
    }

  }
}

.nav-container {
    max-width: 960px !important;
    margin: 0 auto;
    padding: 0px 0px 0px !important;
    height: 97px;
}

/*------------------------------------------------*/
/*---------------------[Menu]---------------------*/
/*------------------------------------------------*/

#navwrap {
    width: 80% !important;
    text-align: right !important;
    position: relative !important;
    z-index: 14 !important;
    float: right !important;
}

.nav-header {
  margin-bottom: 40px;
  background-color: #fff;
  border-bottom: solid 1px #ccc;
}

#menu-primary-menu {
    margin-top: 30px;
    padding-left: 0px !important;
    float: right;
}


.nav li.current_page_item a, .nav li.current-menu-item a, .nav li.current-category-ancestor a, .nav li.current_page_ancestor a, .nav li.current-post-parent a {
    font-style: normal !important;
    color: #989898;
}

.nav li ul, #mobile_menu {
    background: none !important;
    padding: 30px 30px 30px 30px !important;
    background-color: #fff !important;
    border-radius: 5px;
}

.nav li ul li a, #mobile_menu a {
    max-width: 100% !important;
    padding: 10px !important;
    background: none !important;
}

.nav li li a:link, .nav li li a:visited {
  text-align: left;
}

.nav li a {
    font-size: 16px !important;
    color: #333333;
    text-transform: capitalize !important;
}