#home-wrapper{
  max-width: 960px;
  margin: 0px auto;
  padding-top: 10px;

  #flexi-slider {
    position: relative;

    ul {
      overflow: hidden;
      
      li {
        
        .descrp {
          color: #fff;
          z-index: 20;
          width: 100%;

          h2 {
            font-family: 'arial';
            font-size: 3vw;
            color: #fff;
            width: 100%;
            text-align: center;
            text-shadow: 0px 0px 5px #000;
            font-weight: 900;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        img {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }

  .container {
    position: relative;
    clear: both;
    margin: 0px 0px 0px;
  }
}

li.hide {
  display: none;
}

.blurb-wrapper {
  background-color: rgba(0,0,0,0.025);
  width: 100%;
  
  #blurbs {
    border: none !important;
    border-top: solid 2px #ccc !important;
    background: none !important;
  }
}


/*-------------------------------*/
/*------------Slider------------*/
/*-----------------------------*/

.flexslider {
  max-width: 958px !important;
  margin: 0 auto !important;
  width: 100% !important;
}

.banner h2, .item .hover span {
    font-style: normal;
    font-weight: 900 !important;
    font-family: arial !important;
}


.banner span {
    top: 318px;
    left: 200px;
    height: 40px;
    display: block;
    background-image:  none !important;
    position: absolute;
}

.banner span a {
    background: none !important;
    height: 24px;
    font-family: arial !important;
    font-weight: 900 !important;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    float: left;
    margin-right: -17px;
    padding: 8px 15px;
    text-shadow: 1px 1px 0px #6c6c6c;

}

img.theImg {
  //bottom: 30px;
  //display: inline-block;
  //position: absolute;;
  //-webkit-transform: rotate(-1deg);
  //-moz-transform: rotate(-1deg);
  //-ms-transform: rotate(-1deg);
  //-o-transform: rotate(-1deg);
  //transform: rotate(-1deg);

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  //left: 50px;
  //max-width: 153px !important;

  &:hover {
    opacity: 0.6;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }
}

